body{
    background-color: green;
    color: white;
}
caption{
    background-color: red;
}
tr{
    background-color: white;
    color: black;
}
th{
    background-color: orange;
}
table{
    border-color: black  ;
    border: 1px;
}
